---
import SocialIcons from "../../common/icons/icons";
import TypeWriter from "./typeEffect";
---

<header class="relative h-screen bg-gray-950 overflow-hidden">
  <div class="absolute inset-0 grid grid-cols-2">
    <div
      class="animate-gradientMove h-80 bg-linear-to-br from-[#982cf0] to-[#581f86] opacity-30 blur-[120px]"
    >
    </div>
    <div
      class="animate-gradientMove2 h-80 bg-linear-to-br from-[#277752] to-[#02ffee] opacity-30 blur-[120px]"
    >
    </div>
  </div>

  <main
    class="relative z-10 flex flex-col items-center justify-center h-full text-center px-4"
  >
    <h1 class="text-4xl md:text-7xl font-bold text-white mt-10">
      I'm Alfardil,
    </h1>

    <TypeWriter client:visible />

    <SocialIcons client:visible />
  </main>
</header>
