---
import "../styles/global.css";
import Navbar from "../components/common/navbar/navbar.astro";
import Footer from "../components/common/footer/footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/svg/logo.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Alfardil Alam</title>
  </head>
  <body class="bg-gray-950 text-white">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
